.modgit/
app/code/local/
app/code/community/
app/etc/config.xml
app/etc/local.xml
app/.htaccess
errors/
media/
magmi/*
shell/imc.php
var/
app/design/adminhtml/default/default/layout/marketplace.xml
app/design/adminhtml/default/default/layout/mpshippingmanager.xml
app/design/adminhtml/default/default/template/marketplace/*

app/design/frontend/spiritboutique/default/layout/customoption.xml

app/design/frontend/spiritboutique/default/layout/marketplace.xml
app/design/frontend/spiritboutique/default/layout/mppercountryperproductshipping.xml
app/design/frontend/spiritboutique/default/layout/mpshippingmanager.xml
app/design/frontend/spiritboutique/default/template/customoption/*
app/design/frontend/spiritboutique/default/template/marketplace/*
app/design/frontend/spiritboutique/default/template/mppercountryperproductshipping/*
app/design/frontend/spiritboutique/default/template/mpshippingmanager/*

app/etc/modules/Webkul_Marketplace.xml
app/etc/modules/Webkul_Customoption.xml
app/etc/modules/Webkul_Mppercountryperproductshipping.xml
app/etc/modules/Webkul_Mpshippingmanager.xml

app/locale/en_US/Webkul_Marketplace.csv
app/locale/en_US/template/email/marketplacepartner/*

skin/frontend/spiritboutique/default/marketplace/*
skin/frontend/spiritboutique/default/mppercountryperproductshipping/*
skin/frontend/spiritboutique/default/mpshippingmanager/*
